<ion-view view-title="Add Menu">
  <ion-content>
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Item Id</span>
      <input type="text" name="itemId">
    </label>
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" name="name">
    </label>
    <label class="item item-input">
      <span class="input-label">Price</span>
      <input type="tel" name="price">
    </label>
    <label class="item item-input">
      <span class="input-label">Description</span>
      <textarea name="description"></textarea>
    </label>
    <label class="item item-input">
      <span class="input-label">Tags</span>
      <textarea name="description"></textarea>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Cuisine
      </div>
      <select name="cuisine">
        <option>Chinese</option>
      </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Meal Type
    </div>
    <select name="mealType">
      <option>Lunch</option>
      <option>Dinner</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Meal Category
    </div>
    <select name="mealCategory">
      <option>Starter</option>
      <option>Main Course</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Veg/Non-Veg
    </div>
    <select name="vegNonveg">
      <option>Veg</option>
      <option>Non-Veg</option>
    </select>
  </label>
  </div>
  <button class="button button-full button-positive">
    Add Menu
  </button>
  </ion-content>
</ion-view>
